:root {
    --clr-bg: #FFF1E6;
    --clr-category: #fbc3a5;
    /* --clr- */
}

.text-center {
    font-family: Arsenal SC;
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100%;
    max-width: 100%;
    background-color: var(--clr-bg);
}

#products-list {
    height: 100vh;
    width: 80vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    row-gap: 2em;
    font-family: Pacifico;
}

#product {
    /* height: 30vh; */
    /* width: 30vw; */
    border: 2px solid black;
    border-radius: 1.5rem;
    background-color: var(--clr-category);
    padding: 1em;
    font-size: 5vh;
    box-shadow: 10px 10px;
}
